body{

    background: url("/stylesheets/pictures/back.jpg"); 
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
    color: red;
    background: black;
}

#b{
    background-size: cover;
    background-color: rgb(255, 108, 71);
    position: relative;
    height: 420px;
    width: 450px;
    border: 5px solid rgb(230, 212, 49);
    right: -1300px; 
    border-radius: 5px;
}






#tokimonLeft{
  margin-left: 15%;
  margin-bottom: 50%;
}



/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 49.9999999999999999%;

  }
  .column2 {
    float: right;
    width: 49.9999999999999999%;

  }

  #gif0{
    width: 400px;
    height: 300px;
    margin-left: 50%;

  }

  #gif1{
    width: 400px;
    height: 300px;
    margin-left: 50%;
  }

  #gif2{
    width: 300px;
    height: 300px;
    margin-left: 50%;
  }
  #gif3{
    width: 300px;
    height: 200px;
    margin-left: 50%;
  }
  #gif4{
    width: 400px;
    height: 300px;
    margin-left: 50%;
  }
  #gif5{
    width: 400px;
    height: 300px;
    margin-left: 50%;
  }
  #gif6{
    width: 400px;
    height: 300px;
    margin-left: 50%;
  }




  
  .column2 img {
    align-items: top;
  }
  
  img{
      padding: 3px;
      display: inline-block;
      height: 85px;
      width: 10px;
  }

  .ready{
      background-color: crimson;
      padding: 20px;
      align-items: baseline;
      color: white;

  }

