body{

    background: url("/stylesheets/pictures/back.jpg"); 
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
    color: red;
    background: black;
}

#b{
    background-size: cover;
    background-color: rgb(86, 65, 204);
    position: relative;
    height: 600px;
    width: 450px;
    border: 5px solid rgb(49, 49, 230);
    right: -1300px;
    border-radius: 5px;
}

#battlePosition1{
      border: 5px solid rgb(200, 49, 230);
      border-radius: 5px;
      width: 65%;
}

#tokimonLeft{
  margin-left: 15%;
}

#tokimonRight{
  margin-left: 45%;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 49.9999999999999999%;

  }
  .column2 {
    float: right;
    width: 49.9999999999999999%;

  }
  
  .column2 img {
    align-items: top;
  }
  
  img{
      padding: 10px;
      display: inline-block;
  }

  .ready{
      background-color: crimson;
      padding: 30px;
      align-items: baseline;
  }

