body, html {
    height: 100%;
    margin: 0;
    background-image: url("/stylesheets/pictures/1.jpg");


    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

h1 {
  margin: 0 0 0% 20%;
}

#maintitle{
padding-top: 40px;
}

h2 {
  margin: 0 0 0% 40%;
}

.navigationButton{
  padding-top: 0px;
  width: 7% ;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 3px;
  border: 1px solid #c90909;
  background-color:#f54b4b;
  text-align: center;
color: white;
font-size: 20px;

}

#formID{
  font-size: 25px;
  color: rgb(240, 207, 18);
  align-content: right;
  font-weight: bold;
}

div.teamBuilder{
  padding-right: 7%;
  align-content: center;
  height: 170px;
  width:250px;
}

div.middle-div{
  position: relative;
  top: -120%;


}


input{

  padding: 10px;
  width: 70% ;
    margin: 3px 0px 3px 0px;
    box-sizing: border-box;
    border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding-right: 10%;
  
}

table{
  font-size: 20px;
  color: rgb(255, 255, 255);
  align-content: right;
}

th{
  color: black;
}

button{
  padding-top: 0%;
  width: 40% ;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 3px;
  border: 1px solid #c90909;
  background-color:#f54b4b;
  text-align: center;
color: white;
font-size: 16px;
}