body, html {
    height: 100%;
    margin: 0;
    background-image: url("/stylesheets/pictures/1.jpg");


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  margin: 0 0 0% 45%;
}

h2 {
  margin: 0 0 0% 40%;
}
