body, html {
  height: 100%;
  margin: 0;
  background-image: url("/stylesheets/gifs/giphy.gif");


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

h1 {
  margin: 10% 5% 10% 20%;
  margin-left: 40%;
  margin-top: -5%;
}

#maintitle{
padding-top: 10px;
color: white;
}

h2 {
  margin: 0 0 0% 40%;
}

.navigationButton{
  padding-top: 0px;
  width: 40% ;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 3px;
  border: 3px solid #fafafa;
  background-color:#db2a2a;
  text-align: center;
color: white;
font-size: 37px;
margin-left: 30%;
margin-top: -8%;
font-family: "Times New Roman", Times, serif;

}

.nagivationLogout{
  width: 7% ;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid #fafafa;
    background-color:#db2a2a;
  text-align: center;
color: white;
font-size: 20px;
margin-top: 0%;
}

#formID{
  font-size: 25px;
  color: rgb(240, 207, 18);
  align-content: right;
  font-weight: bold;
}

div.teamBuilder{
  padding-right: 7%;
  align-content: center;
  height: 170px;
  width:250px;
}

div.middle-div{
  position: relative;
  top: -30%;


}


input{

  padding: 10px;
  width: 70% ;
    margin: 3px 0px 3px 0px;
    box-sizing: border-box;
    border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding-right: 10%;
  
}

table{
  font-size: 20px;
  color: rgb(255, 255, 255);
  align-content: right;
}

th{
  color: black;
}

button{
  padding-top: 0%;
  width: 40% ;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 3px;
  border: 1px solid #c90909;
  background-color:#f54b4b;
  text-align: center;
color: white;
font-size: 16px;
}