
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/battlepage_2.css" type="text/css" media="all">
</head>
<body>
  <div class = "photo-selection">
    <ul class = "photo-grid">
      <li id = "toki_1">
        <div class = "photo-img-1"></div>
      </li>
      <li id = "toki_2">
          <div class = "photo-box photo-img-2"></div>
      </li>
      <li id = "toki_3">
          <div class = "photo-box photo-img-3"></div>
      </li>
      <li id = "toki_4">
          <div class = "photo-box photo-img-4"></div>
      </li>
      <li id = "toki_5">
          <div class = "photo-box photo-img-5"></div>
      </li>
      <li id = "toki_6">
          <div class = "photo-box photo-img-6"></div>
      </li>
      <div id="b"> <div> </div> <p> </p> </div>
    </ul>
  </div>
</body> 
</html>
