
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/battlepage_2.css" type="text/css" media="all">
</head>
<body>

  <!-- <div id= "battle"> -->
    <!-- <div class="container"> -->
      <!-- <center> -->
  <!--         the text box -->
  <div class = "text-wrapper">
      <div id ="events"></div>

      <div class = "button-wrapper">
      
        <button onclick = "attack1Clicked()" id="attack1"> player1 attack1 </button>
        <button onclick = "attack2Clicked()" id="attack2"> player1 attack2 </button>
        <button onclick = "attack3Clicked()" id="attack3"> player1 attack3 </button>
        <button onclick = "attack4Clicked()" id="attack4"> player1 attack4 </button>

      </div> 
    </div>
        </br>
  <!-- </center> -->
<!-- </div> -->
<!-- </div> -->


      <div class="b"> 
              <div class="column">
                  <img id="tokiPics" src="/stylesheets/pictures/tokiPics.png" >
                  <!-- <img id="toki1" src="stylesheets/gifs/jar1.gif" style="width:80%">
                  <img id="toki2" src="/stylesheets/gifs/bobby1.gif" style="width:80%">
                  <img id="toki3" src="/stylesheets//gifs/dry1.gif" style="width:80%"> -->
              </div>
              <!-- <div class="column2">
                  <img id="toki4" src="/stylesheets/gifs/gust1.gif" style="width:80%">
                  <img id="toki5" src="/stylesheets/gifs/cone2.gif" style="width:80%" >
                  <img id="toki6" src="/stylesheets/gifs/stump2.gif" style="width:80%" >
              </div> -->
      </div>
  <!-- ***************************************************** -->
    <!-- <div class ="player1board"> -->
      <div class="b2"> 
          <div class="column3">
            <img id="pokiPics" src="/stylesheets/pictures/pokiPics.png" >
              <!-- <img id="toki7" src="/stylesheets/pictures/squirt.png" style="width:80%" onclick="changeImage(id)">
              <img id="toki8" src="/stylesheets/pictures/squirt2.png" style="width:80%" onclick="changeImage(id)">
              <img id="toki9" src="/stylesheets/pictures/squirt3.png" style="width:80%" onclick="changeImage(id)"> -->

          </div>
          <!-- <div class="column4">
              <img id="toki10" src="/stylesheets/pictures/squirt4.png" style="width:80%" onclick="changeImage(id)">
              <img id="toki11" src="/stylesheets/pictures/squirt5.png" style="width:80%" onclick="changeImage(id)">
              <img id="toki12" src="/stylesheets/pictures/squirt6.png" style="width:80%" onclick="changeImage(id)">
          </div>  -->
      </div>  

    <!-- </div> -->
<!-- ******************************************************************* -->

  </div>
  <br>
  <br>
  <div class = "b3">
  <div title="tokimon gif2">
      <iframe id="gif0" src="https://giphy.com/embed/Myp2C0iWDMh2g" frameborder="0" width="80" height="90" class="giphy-embed" style="pointer-events: none;"></iframe>
      <div class = "leftGif">
      <iframe id="gif0" src="https://giphy.com/embed/Myp2C0iWDMh2g" frameborder="0" width="80" height="90" class="giphy-embed" style="pointer-events: none;"></iframe>
  </div>
  <div  style = "display:none;">
      <iframe id="gif1" src="https://giphy.com/embed/Myp2C0iWDMh2g" frameborder="0" width="80" height="90" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif2"  src="https://giphy.com/embed/iIlxok6eMBeBW" width="384" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif3" src="https://giphy.com/embed/mBp5qOyg2HjvlhGU09" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif4" src="https://giphy.com/embed/z8OcWLLk4SrpS" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif5" src="https://giphy.com/embed/GltC4HZLjJLvq" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif6" src="https://giphy.com/embed/Owb158OZlURQA" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>

  </div>
    </div>
    <div class= "tokimonSelection">
        <button class="but" onclick = "attack1Clicked()" id="attack1"> Tokimon 1 </button>
        <button class="but" onclick = "attack2Clicked()" id="attack2"> Tokimon 4 </button>
        <br>
        <button class="but" onclick = "attack3Clicked()" id="attack3"> Tokimon 2 </button>
        <button class="but" onclick = "attack4Clicked()" id="attack4"> Tokimon 5 </button>  
        <br>
        <button class="but" onclick = "attack1Clicked()" id="attack1"> Tokimon 3 </button>
        <button  class = "but" onclick = "attack2Clicked()" id="attack2"> Tokimon 6 </button>
      </div>
      </div>


        
  
       
       <script src="/socket.io/socket.io.js"></script>
       <script>
      // version for when starting from battlepage_2
      // this version breaks the chat functions
        //var socket = io.connect("http://localhost:5000/battlepage_2");
      // version for when starting socket.io from connection
      var socket = io.connect();
  
  
  ////////////////////Rock paper scissors test ////////////
        // addind text box for testing 

        const writeEvent = (text) => {
          //<ul> element
          const parent = document.querySelector('#events');
          // <li> element
          const el = document.createElement('li');
          el.innerHTML = text;
  
          parent.appendChild(el);
        };

  
        const onFormSubmitted = (e) => {
          e.preventDefault();
  
          const input = document.querySelector('#chat');
          const text = input.value;
          input.value = '';
  
          socket.emit('message', text); 
        };
  
        const addButtonListeners = () => {
          ['rock', 'paper', 'scissors'].forEach((id) =>{
            const button = document.getElementById(id);
            button.addEventListener('click', () => {
              socket.emit('turn', id);
            });
          });
        };
  
  
        writeEvent('Welcome to Tokebattler!');
        socket.on('message', writeEvent);
  
        document.querySelector('#chat-form').addEventListener('submit', onFormSubmitted);
  
        addButtonListeners();
  
  
        //////////Player 1 attacks /////////////////
        function attack1Clicked(){
          console.log("attack1");
          var attack = "attack1";
          socket.emit('attack1', attack);
        }
  
        function attack2Clicked(){
          console.log("attack2");
          socket.emit('attack2');
        }
  
        function attack3Clicked(){
          console.log("attack3");
          socket.emit('attack3');
        }
  
        function attack4Clicked(){
          console.log("attack4");
          socket.emit('attack4');
        }
  
  ///////////Player 2 attacks ////////////////////
        function attack5Clicked(){
          console.log("attack5");
          socket.emit('attack5');
        }
  
        function attack6Clicked(){
          console.log("attack6");
          socket.emit('attack6');
        }
  
        function attack7Clicked(){
          console.log("attack7");
          socket.emit('attack7');
        }
  
        function attack8Clicked(){
          console.log("attack8");
          socket.emit('attack8');
        }
  
  ////////////ready button code////////////
  
        var data = 0
        function buttonClicked(){
          console.log("clicked once");
          data = data +1;
          socket.emit('clicked', data);
        }
  
        socket.on('redirect', function(destination) {
            window.location = '/battlepage_2';
          });
  
      </script>
  
  
  
  <script language="javascript">
    function changeImage(id){
      // document.getElementById("gif1").src = document.getElementById(id).src;
  
      if(document.getElementById(id) == toki1)
      {
        console.log("its not working");
        document.getElementById("gif0").src = document.getElementById("gif1").src;
      }
      if(document.getElementById(id) == toki2)
      {
        document.getElementById("gif0").src =  document.getElementById("gif2").src;
      }
      if(document.getElementById(id) == toki3)
      {
        document.getElementById("gif0").src =  document.getElementById("gif3").src;
      }
      if(document.getElementById(id) == toki4)
      {
        document.getElementById("gif0").src =  document.getElementById("gif4").src;
      }
      if(document.getElementById(id) == toki5)
      {
        document.getElementById("gif0").src =  document.getElementById("gif5").src;
      }
      if(document.getElementById(id) == toki6)
      {
        document.getElementById("gif0").src =  document.getElementById("gif6").src;
      }
  
    }
  </script>

</body> 
</html>
