
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/battlepage_2.css" type="text/css" media="all">
</head>
<body>

      <div id="b"> 
              <div class="column">
                  <button class="btn item1"><img id="toki1" src="/stylesheets/pictures/squirt.png" style="width:80%"
                  onclick="changeImage()">
                  </button>
                  <button class="btn item2"><img id="toki2" src="/stylesheets/pictures/squirt.png" style="width:80%"></button>
                  <button class="btn item3"><img id="toki3" src="/stylesheets/pictures/squirt.png" style="width:80%"></button>

              </div>
              <div class="column2">
                  <button class="btn item4"><img id="toki4" src="/stylesheets/pictures/squirt.png" style="width:80%"></button>
                  <button class="btn item5"><img id="toki5" src="/stylesheets/pictures/squirt.png" style="width:80%"></button>
                  <button class="btn item6"><img id="toki6" src="/stylesheets/pictures/squirt.png" style="width:80%"></button>
              </div>
              <style>
                  .btn {
                    border: none;
                    background-color:inherit;
                    padding: 14px 28px;
                    font-size: 16px;
                    cursor: pointer;
                    display: inline-block;
                  }
                  
                  .btn:hover {background: #eee;}
                  
                  .item1 {color: green;}
                  .item2 {color: green;}
                  .item3 {color: green;}
                  .item4 {color: green;}
                  .item5 {color: green;}
                  .item6 {color: green;}

                  </style>
                  <div>
                   <button class="ready">READY!</button>
                  </div>
        </div>

      <div id ="battlePosition1">
        <img id = "tokimonLeft" src="/stylesheets/pictures/squirt.png" style="width:15%">
        <img id = "tokimonRight" src="/stylesheets/pictures/squirt.png" style="width:15%">
      </div>

<script language="javascript">
  function changeImage(){
    console.log("clicked it!!!!!!!!!!!!!!!!!")

     if (document.getElementById("toki1").src == "/stylesheets/pictures/squirt.png") 
        {
            document.getElementById("tokimonRight").src = "/stylesheets/pictures/1.jpg";
        }
        else 
        {
            document.getElementById("tokimonRight").src = "/stylesheets/pictures/2.jpg";
        }
  }
</script>


</body> 
</html>
