
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/battlepage_2.css" type="text/css" media="all">
</head>
<body>

  <div id= "battle">
      <div id="b"> 
              <div class="column">
                  <button class="btn item1"><img id="toki1" src="/stylesheets/pictures/squirt.png" style="width:80%" onclick="changeImage(id)"></button>
                  <button class="btn item2"><img id="toki2" src="/stylesheets/pictures/squirt2.png" style="width:80%" onclick="changeImage(id)"></button>
                  <button class="btn item3"><img id="toki3" src="/stylesheets/pictures/squirt3.png" style="width:80%" onclick="changeImage(id)"></button>

              </div>
              <div class="column2">
                  <button class="btn item4"><img id="toki4" src="/stylesheets/pictures/squirt4.png" style="width:80%" onclick="changeImage(id)"></button>
                  <button class="btn item5"><img id="toki5" src="/stylesheets/pictures/squirt5.png" style="width:80%" onclick="changeImage(id)"></button>
                  <button class="btn item6"><img id="toki6" src="/stylesheets/pictures/squirt6.png" style="width:80%" onclick="changeImage(id)"></button>
              </div>
              <style>
                  .btn {
                    border: none;
                    background-color:inherit;
                    padding: 14px 28px;
                    font-size: 16px;
                    cursor: pointer;
                    display: inline-block;
                  }
                  
                  .btn:hover {background: #eee;}
                  
                  .item1 {color: green;}
                  .item2 {color: green;}
                  .item3 {color: green;}
                  .item4 {color: green;}
                  .item5 {color: green;}
                  .item6 {color: green;}

                  </style>

          </br>  
          </br>    

  <div class="container">
    <center>
      <button id="attack1" class = "turn"> player1 attack1 </button>
      <button id="attack2" class = "turn"> player1 attack2 </button>
      <button id="attack3" class = "turn"> player1 attack3 </button>
      <button id="attack4" class = "turn"> player1 attack4 </button>
        </br>
        </br>
      <button id="swap1" class = "turn"> swap to 1 </button>
      <button id="swap2" class = "turn"> swap to 2 </button>
      <button id="swap3" class = "turn"> swap to 3 </button>
      <button id="swap4" class = "turn"> swap to 4 </button>
      <button id="swap5" class = "turn"> swap to 5 </button>
      <button id="swap6" class = "turn"> swap to 6 </button>


<!--         the text box -->
      <div class = "text-wrapper">
        <ul id ="events"></ul>

        <div class = "button-wrapper">
          <form id ="chat-form">         
            <input id ="chat" />
            <button id = "say"> Say </button> 
          </form>

          
          <button id = "rock" class ="turn"> Rock </button>
          <button id = "paper" class ="turn"> Paper </button>
          <button id = "scissors" class ="turn"> Scissors </button>

        </div>
      </div>

    </center>
  </div>
      

     
     <script src="/socket.io/socket.io.js"></script>
     <script>
    // version for when starting from battlepage_2
    // this version breaks the chat functions
      var socket = io.connect("http://localhost:5000/battlepage_2");
    // version for when starting socket.io from connection
    //var socket = io.connect();


////////////////////Rock paper scissors test ////////////
      // addind text box for testing 
      const writeEvent = (text) => {
        //<ul> element
        const parent = document.querySelector('#events');
        // <li> element
        const el = document.createElement('li');
        el.innerHTML = text;

        parent.appendChild(el);
      };

      const onFormSubmitted = (e) => {
        e.preventDefault();

        const input = document.querySelector('#chat');
        const text = input.value;
        input.value = '';
        socket.emit('message', text); 
      };

      const addButtonListeners = () => {
        ['rock', 'paper', 'scissors'].forEach((id) =>{
          const button = document.getElementById(id);
          button.addEventListener('click', () => {
            socket.emit('turn', id);
          });
        });

        // attack button functionaliity. 
        ['attack1', 'attack2', 'attack3', 'attack4'].forEach((id) => {
          const button = document.getElementById(id);
          button.addEventListener('click', () => {
            socket.emit('turn', id);
          });
        });

        ['swap1', 'swap2', 'swap3', 'swap4', 'swap5', 'swap6'].forEach((id) => {
          const button = document.getElementById(id);
          button.addEventListener('click', () => {
            socket.emit('turn', id);
          });
        });

      };


      writeEvent('Welcome to Tokebattler!');
      socket.on('message', writeEvent);

      document.querySelector('#chat-form').addEventListener('submit', onFormSubmitted);

      addButtonListeners();



////////////ready button code////////////

      // var data = 0
      // function buttonClicked(){
      //   console.log("clicked once");
      //   data = data +1;
      //   socket.emit('clicked', data);
      // }

      // socket.on('redirect', function(destination) {
      //     window.location = '/battlepage_2';
      //   });
















    </script>








                </div>
  </div>
  <div title="tokimon gif"></div>
      <iframe id="gif0" src="https://giphy.com/embed/Myp2C0iWDMh2g" frameborder="0" width="80" height="90" class="giphy-embed" style="pointer-events: none;"></iframe>
  </div>



  <div  style = "display:none;">
      <iframe id="gif1" src="https://giphy.com/embed/Myp2C0iWDMh2g" frameborder="0" width="80" height="90" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif2"  src="https://giphy.com/embed/iIlxok6eMBeBW" width="384" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif3" src="https://giphy.com/embed/mBp5qOyg2HjvlhGU09" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif4" src="https://giphy.com/embed/z8OcWLLk4SrpS" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif5" src="https://giphy.com/embed/GltC4HZLjJLvq" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
      <iframe id="gif6" src="https://giphy.com/embed/Owb158OZlURQA" width="480" height="480" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>

  </div>
  
  
  
  
  <script language="javascript">
    function changeImage(id){
      // document.getElementById("gif1").src = document.getElementById(id).src;
  
      if(document.getElementById(id) == toki1)
      {
        console.log("its not working");
        document.getElementById("gif0").src = document.getElementById("gif1").src;
      }
      if(document.getElementById(id) == toki2)
      {
        document.getElementById("gif0").src =  document.getElementById("gif2").src;
      }
      if(document.getElementById(id) == toki3)
      {
        document.getElementById("gif0").src =  document.getElementById("gif3").src;
      }
      if(document.getElementById(id) == toki4)
      {
        document.getElementById("gif0").src =  document.getElementById("gif4").src;
      }
      if(document.getElementById(id) == toki5)
      {
        document.getElementById("gif0").src =  document.getElementById("gif5").src;
      }
      if(document.getElementById(id) == toki6)
      {
        document.getElementById("gif0").src =  document.getElementById("gif6").src;
      }
  
  
    }
  </script>

</body> 
</html>
