<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Trainers</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script> var socket = io.connect('http://localhost:5000', {reconnect: true});; </script>
  </head>
  <body>
    <p id='server-time'>Time</p>
    <p id='message_display'>Messages</p>
    <form class="", action="javascript:void(0)">
        <Input type='text' id='message_input' name='' value='' required autofocus>
    </form>
  </body>
  <script defer>
        var el = document.getElementById('server-time');

        socket.on('time', function(timeString) { //listen for the time object being sent from the server
            document.querySelector('#server-time').innerHTML = 'Server time: ' + timeString;
        });

        socket.on('message', function(msg) {
            document.querySelector('#message_display').innerHTML += `Message: ${msg} <br/>`; // receive message and display the broadcast message
        });

        document.forms[0].onsubmit = function () {
            var input = document.querySelector('#message_input');
            var msg = input.value;
            socket.emit("chat",msg); //broadcast the msg to the server (chat = event)
            input.value='';
        }
    </script>
</html>