<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Tokimon Home Page</title>

    <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css" media="all">
    <script type="text/javascript" src="twitter.js" defer> </script>

</head>

<body>

          <li> 
              <button type="button" class="navigationButton" id="victory">
              <a class="nagivationLink" id="navigationHome" href="/victory"> <h6>Simulate victory</h6> </a>
              </button>
          </li>

           <li> 
              <button type="button" class="navigationButton" id="victory">
              <a class="nagivationLink" id="navigationHome" href="/loser"> <h6>Simulate a loss</h6> </a>
              </button>
          </li>


    <div id="backgroundImage">
        <h1>TokiBattle</h1>
        <h2>New features coming soon!</h2>
        
        
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>
