<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Tokimon Home Page</title>

      <link rel="stylesheet" href="/stylesheets/tokimon.css" type="text/css" media="all">

</head>

<body>


    <div id="backgroundImage">
        <h1>TokiBattle</h1>
        <h2>New features coming soon!</h2>
        
        
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>
