<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Tokimon Home Page</title>

    <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css" media="all">
    <script type="text/javascript" src="twitter.js" defer> </script>

</head>

<body>

          <li> 
              <button type="button" class="navigationButton" id="victory">
              <a class="nagivationLink" id="navigationHome" href="/victory"> <h6>Simulate victory</h6> </a>
              </button>
          </li>

           <li> 
              <button type="button" class="navigationButton" id="victory">
              <a class="nagivationLink" id="navigationHome" href="/loser"> <h6>Simulate a loss</h6> </a>
              </button>
          </li>
          <form action="/addTeam/<%= id %>" method="POST">
            Name of Team:<br>
            <input type="text" name="teamName" value="">
             <br>
            <button type="submit">Build Team</button>
        </form>

        <div>
                <table>
                  <thead>
                    <tr>
                      <th>
                        Teams
                      </th>
                      <th>
                        Edit/More Info
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% rows.forEach((r) => { %>
                      <tr>
                        <td>
                            <%= r.team_name %>
                        </td>
                        <!-- <td>
                            <form action="/moreinfoOfTeam/<%= r.team_name %>" method="GET">
                                <input class="ToBeHidden" type="text" name="teamName" id="tokiID" value=<%= r.team_name %>>
                                <input type="submit" value="More Info">
                            </form><br>
                        </td> -->
                      </tr> 
                    <% }); %>
                  </tbody>
                </table>
              </div>


    <div id="backgroundImage">
        <h1>TokiBattle</h1>
        <h2>New features coming soon!</h2>
        
        
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>
