<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/loadingBattle.css" type="text/css" media="all">

</head>
<body>
	<div class = "ready">
	<h1> READY FOR BATTLE </h1>
	</div>
		<div class="fullscreen-bg">
			<video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
			<source src="/stylesheets/pictures/countdown.mp4" type="video/mp4"> </source>
			<audio autoplay controls> 
					<source src="/stylesheets/pictures/timerAudio.mp3" type="audio/mp3"> </source>
					</audio>
			</video>

		</div>
	<script>
		
		setTimeout(function() {
			window.location = "/battlepage_2";
		}, 8500)
	</script>

</body>
</html>