<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>You Lost!</title>

    <link rel="stylesheet" href="/stylesheets/loser.css" type="text/css" media="all">

</head>

<body>

    <div id="loser_message">
        <br><br>
        <h1>
            <%= status %> lost.
        </h1>

        <h1>Eric kicked your butt!</h1>
        <a id="goToTwitter" href="https://twitter.com/TokiBattle" target="_blank"> <h2>See on Twitter</h2> </a>
        
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>
