<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/photo_grid.css" type="text/css" media="all">
</head>

<section class="our-team">
        <div class="grid-container">
          <div class="team-description">
            <h1 class="team-title">Our <span>Team</span></h1>
            <p>Iceland lumbersexual roof party, flannel craft beer irony austin kombucha vinyl echo park cronut shoreditch. Pour-over pop-up master cleanse poke. Chartreuse quinoa plaid air plant actually everyday carry tbh edison bulb poke prism. Kinfolk af quinoa shaman subway tile organic.</p>
          </div>
          <figure class="team-member">
            <img src="/stylesheets/pictures/squirt.png" alt="">
            <figcaption>
              <h2 class="name">Team member</h2>
            </figcaption>
          </figure>
          <figure class="team-member">
            <img src="squirt.png" alt="">
            <figcaption>
              <h2 class="name">Team member</h2>
            </figcaption>
          </figure>
          <figure class="team-member">
            <img src="squirt.png" alt="">
            <figcaption>
              <h2 class="name">Team member</h2>
            </figcaption>
          </figure>
          <figure class="team-member">
            <img src="squirt.png" alt="">
            <figcaption>
              <h2 class="name">Team member</h2>
            </figcaption>
          </figure>
          <figure class="team-member">
            <img src="squirt.png" alt="">
            <figcaption>
              <h2 class="name">Team member</h2>
            </figcaption>
          </figure>
          <figure class="team-member">
            <img src="squirt.png" alt="">
            <figcaption>
              <h2 class="name">Team member</h2>
            </figcaption>
          </figure>
        </div>
      </section>
      </html>