<!DOCTYPE html>
<html>
	<head>
		<title>You Won!</title>

		<link href="/stylesheets/victory.css" rel="stylesheet" type="text/css" media="all">
	</head>

	<body>
		<div id="main">
			<div id="first"></div>
			<div id="second">
<<<<<<< HEAD
				

				<p id="container">You Win!</p>


		      <div id="failed">
		          <% if (typeof status !== 'undefined') { %>

		              <p><%= status %></p>

		          <% } %>
		      </div>





				<p id="container2"> Thomas Lost!</p>
=======
				<p id="container">
					<%= status %> wins.
				</p>
				<p id="container2">Thomas Lost!</p>
>>>>>>> e8addd3f22ac81f7c740a4d65717246216735896
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<!-- <p id="invisitext">invisible</p> -->
				<!-- <p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p> -->
				<!-- <p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p> -->
				<p id="link"> <a id="goToTwitter" href="http://twitter.com/TokiBattle" target="_blank"> Enter the Hall of Fame! </p>
			</div>
		</div>
	</body>
</html>