<!DOCTYPE html>
<html>
	<head>
		<title>You Won!</title>

		<link href="/stylesheets/victory.css" rel="stylesheet" type="text/css" media="all">
	</head>

	<body>
		<div id="main">
			<div id="first"></div>
			<div id="second">

				<p id="container">
					PLayer 0 wins!
				</p>

				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<!-- <p id="invisitext">invisible</p> -->
				<!-- <p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p> -->
				<!-- <p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p>
				<p id="invisitext">invisible</p> -->
				<p id="link"> <a id="goToTwitter" href="http://twitter.com/TokiBattle" target="_blank"> Enter the Hall of Fame! </p>
			</div>
		</div>
	</body>
</html>